body {
  margin: 0;
  font-family: 'Open Sans';
  font-size: 15px;
}

ul,
li,
p {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  border: 0;
  background-color: inherit;
}

img {
  border-style: none;
  max-width: 100%;
  height: auto;
}

main {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
